{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Fitness Studi{% endblock %}

{% block body %}

    {% if app.user %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <span class="mx-5">Bonjour {{ app.user.userIdentifier }}</span>  <a type="button"  class="btn btn-danger" href="{{ path('app_logout') }}">Se déconnecter</a>
        </nav>
    {% endif %}

<div class="login">
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    
    <h1 class="text-center">Fitness Studi</h1>

    <div class="form-group">
    <label class="form-label" for="inputEmail">Email</label>
    <input class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>

    <div>
    <label class="form-label" for="inputPassword">Mot de passe</label>
    <input class="form-control" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <input class="form-control" type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-success w-100 my-3" type="submit">
        Se connecter
    </button>
    </div>
    </form>
</div>

{% endblock %}
